* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 2rem;
}

.awesome-text {
  flex: 1;
  display: flex;
  font-size: 2em;
  margin-bottom: 0;
  justify-content: center;
}

.books-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 4px solid;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.article-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    width: 100%;
}

.article-display:nth-child(odd) {
    background-color: #aaa7a7;
}

.article-display:nth-child(even) {
    background-color: #fff;
}

.remove-btn {
    border: 1px solid;
    padding: 0.5rem 1rem;
    box-shadow: 2px 3px;
    cursor: pointer;
}

.article-text {
    font-weight: 700;
    font-size: 1.3rem;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.span {
  background-color: #000;
  border: 3px solid #000;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 5%;
}

.titleform {
  flex: 1;
  font-size: 2em;
  text-align: center;
  margin-top: 3%;
}

.form-group {
  flex: 1;
  display: flex;
  margin-bottom: 1.5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 4%;
  padding: 0.5rem 0;
}

input {
  width: 100%;
  padding: 2%;
  border: 3px solid #000;
}

input::placeholder {
    border: none;
}

.button {
  flex: 1;
  width: 20%;
  color: #000;
  font-weight: 600;
  margin-top: 2%;
  align-self: flex-end;
  border: 1px solid;
  padding: 0.5rem 1rem;
  box-shadow: 2px 3px;
  cursor: pointer;
}